{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <div class="login-brand">
             
            </div>
            <div class="card card-primary">
              <div class="row m-0">
                <div class="col-12 col-md-12 col-lg-12 p-0">
                  <div class="card-header text-center">
                    <h4>Add Batch</h4>
                  </div>
                  <div class="card-body">
                    {% if not edit_batch %}
                    <form method="POST" action="add_batch" enctype="multipart/form-data"> {% csrf_token %}
                      {% else %}
                    <form method="POST" action="{% url 'update_batch' id=edit_batch.id %}" enctype="multipart/form-data"> {% csrf_token %}
                      {% endif %}
                      <div class="form-group floating-addon">
                        <label>Course</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <select name="course" id="course" class="form-control">
                            {% for course in courses %}
                            {% if batch == edit_batch.course %}
                        <option value="{{course}}" selected>{{course}}</option>
                        {% else %}
                        <option value="{{course}}">{{course}}</option>
                        {% endif %}
                        {% endfor %}
                          </select>                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Faculty</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <select name="faculty" id="course" class="form-control">
                            {% for faculty in faculties %}
                            {% if faculty == edit_batch.teacher %}
                        <option value="{{faculty}}" selected>{{faculty}}</option>
                        {% else %}
                        <option value="{{faculty}}">{{faculty}}</option>
                        {% endif %}
                        {% endfor %}
                          </select>                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Name Of Batch</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="name" placeholder="Name" value="{{edit_batch.name}}">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Start Time</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="time" class="form-control" name="start" value="{{edit_batch.start_time}}">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>End Time</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="time" class="form-control" name="end" value="{{edit_batch.end_time}}">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Batch Limit</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="limit" placeholder="Limit(Max 30 Allowed)" value="{{edit_batch.student_limit}}">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Students Enrolled</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="enrolled" placeholder="Enrolled" value="{{edit_batch.students_enrolled}}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Active</label><br>
                        {% if edit_batch.is_active %}
                        <input type="radio" id="on" value="on" name="active" checked>
                        <label for="on">On</label>
                        <input type="radio" id="off" value="off" name="active">
                        <label for="off">Off</label>
                        {% else %}
                        <input type="radio" id="on" value="on" name="active">
                        <label for="on">On</label>
                        <input type="radio" id="off" value="off" name="active" checked>
                        <label for="off">Off</label>
                        {% endif %}
                        </div>
                      <center>
                        <button type="submit" class="btn btn-round btn-lg btn-primary">
                          Submit
                        </button></center>
                    </form>
                  </div>
                </div>
              </div>
                  
            </div>
                
            
          </div>
              
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
          <div class="card">
            <div class="card-header">
              <h4>All Batches</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Faculty</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Limit</th>
                      <th>Enrolled</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for batch in batches %}
                    <tr>
                      <td>{{batch.name}}</td>
                      <td>{{batch.teacher}}</td>
                      <td>{{batch.start_time}}</td>
                      <td>{{batch.end_time}}</td>
                      <td>{{batch.student_limit}}</td>
                      <td>{{batch.students_enrolled}}</td>
                      <td><a href="{% url 'update_batch' id=batch.id %}"><button class="btn btn-lg btn-success">Edit</button></a></td>
                      <td><a href="{% url 'delete_batch' id=batch.id %}"><button class="btn btn-lg btn-danger">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
                    </div></div></div>

    </section>
  </div>
{% endblock %}
