{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <div class="login-brand">
             
            </div>
            <div class="card card-primary">
              <div class="row m-0">
                <div class="col-12 col-md-12 col-lg-12 p-0">
                  <div class="card-header text-center">
                    <h4>Branch</h4>
                  </div>
                  <div class="card-body">
                    {% if not branch %}
                    <form method="POST" action="add_branch"> {% csrf_token %}
                      {% else %}
                    <form method="POST" action="{% url 'update_branch' id=branch.id %}"> {% csrf_token %}
                      {% endif %}
                      <div class="form-group floating-addon">
                        <label>Name of Branch</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="name" type="text" class="form-control" name="name" autofocus placeholder="Name Of Branch" value="{{branch.name}}">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Branch Type</label><br>
                          
                          {% if branch.branch_type == 'Main' %}
                            <input type="radio" id="main" name="branch_type" value="Main" checked>
                                <label for="main" class="form-label">Main Branch</label><br>
                            <input type="radio" id="sub" name="branch_type" value="Sub">
                                <label for="sub" class="form-label">Sub Branch</label>
                                {% else %}
                                <input type="radio" id="main" name="branch_type" value="Main">
                                <label for="main" class="form-label">Main Branch</label><br>
                            <input type="radio" id="sub" name="branch_type" value="Sub" checked>
                                <label for="sub" class="form-label">Sub Branch</label>
                                {% endif %}
                        </div>

                      <center>
                        <button type="submit" class="btn btn-round btn-lg btn-primary">
                          Submit
                        </button></center>
                    </form>
                  </div>
                </div>
              </div>
                  
            </div>
                
            
          </div>
              
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-12 offset-md-1 col-lg-12 offset-lg-1">
          <div class="card">
            <div class="card-header">
              <h4>All Branches</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                  <thead>
                    <tr>
                      <th>Branch Name</th>
                      <th>Type</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for branch in branches %}
                    <tr>
                      <td>{{branch.name}}</td>
                      <td>{{branch.branch_type}}</td>
                      <td><a href="{% url 'update_branch' id=branch.id %}"><button class="btn btn-lg btn-success">Edit</button></a></td>
                      <td><a href="{% url 'delete_branch' id=branch.id %}"><button class="btn btn-lg btn-danger">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
                    </div></div></div>

    </section>
  </div>
{% endblock %}