{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}


<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-12 offset-md-1 col-lg-12 offset-lg-1">
        <div class="card" style="margin-top: 50px;">
          <div class="card-header">
            <h4>All Courses</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                <thead>
                  <tr>
                    <th>Course Name</th>
                    <th>Branch</th>
                    <th>Description</th>
                    <th>Syllabus</th>
                    <th>Fees</th>
                    <th>Stream</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for course in courses %}
                  <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.branch}}</td>
                    <td>{{course.description}}</td>
                    <td>{% if course.syllabus %}<a href="http://127.0.0.1:8000{{course.syllabus.url}}">Click Here</a>{%
                      else %}Not Available{% endif %}</td>
                    <td>{{course.fees}}</td>
                    <td>{{course.stream}}</td>
                    <td><a href="{% url 'update_course' id=course.id %}"><button
                          class="btn btn-lg btn-success">Edit</button></a></td>
                    <td><a href="{% url 'delete_course' id=course.id %}"><button
                          class="btn btn-lg btn-danger">Delete</button></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

</section>

</div>


</div>
</div>


{% endblock %}