{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <div class="login-brand">
             
            </div>
            <div class="card card-primary">
              <div class="row m-0">
                <div class="col-12 col-md-12 col-lg-12 p-0">
                  <div class="card-header text-center">
                    <h4>Discount Details</h4>
                  </div>
                  <div class="card-body">
                    {% if not edit_discount %}
                    <form method="POST" action="add_discount"> {% csrf_token %}
                      {% else %}
                    <form method="POST" action="{% url 'update_discount' id=edit_discount.id %}"> {% csrf_token %}
                      {% endif %}
                      <div class="form-group floating-addon">
                        <label>Coupon Code</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="name" type="text" class="form-control" name="coupon" autofocus placeholder="Coupon Code" value="{{edit_discount.disc_code}}">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Description</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="description" placeholder="Description" value="{{edit_discount.description}}">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Discount Percentage</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="percent" placeholder="Discount Percentage" value="{{edit_discount.disc_percent}}">
                        </div>
                      </div>
                      <center>
                        <button type="submit" class="btn btn-round btn-lg btn-primary">
                          Submit
                        </button></center>
                    </form>
                  </div>
                </div>
              </div>
                  
            </div>
                
            
          </div>
              
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
          <div class="card">
            <div class="card-header">
              <h4>All Offers</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Percentage</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for discount in discounts %}
                    <tr>
                      <td>{{discount.disc_code}}</td>
                      <td>{{discount.description}}</td>
                      <td>{{discount.disc_percent}}</td>
                      <td><a href="{% url 'update_discount' id=discount.id %}"><button class="btn btn-lg btn-success">Edit</button></a></td>
                      <td><a href="{% url 'delete_discount' id=discount.id %}"><button class="btn btn-lg btn-danger">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
                    </div></div></div>

    </section>
  </div>
{% endblock %}