<!DOCTYPE html>
<html lang="en">


<!-- checkbox-and-radio.html  21 Nov 2019 03:51:00 GMT -->
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bundles/pretty-checkbox/pretty-checkbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.ico' %}" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
              <form class="form-inline mr-auto">
                <div class="search-element">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                  <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li style="padding-top: 6px;"><a href="{% url 'merchant_messages' %}"><i data-feather="mail" style="color: black;"></i></a></li>
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="{{coaching.logo.url}}"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello {{merchant.username}}</div>
              <a href="{% url 'merchant_profile' %}" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Profile
              </a>
              <a href="{% url 'coaching' %}" class="dropdown-item has-icon"> <i class="fas fa-cog"></i>
                Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'merchant' %}"> <img alt="image" src="{% static 'assets/img/logo.png' %}" class="header-logo" /> <span
                class="logo-name">CareerManiaa</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="{% url 'merchant' %}" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>

            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Courses </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'add_course' %}">Add Courses</a></li>
                  <li><a class="nav-link" href="{% url 'merchant_courses' %}">All Courses </a></li>
                         </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="chevrons-down"></i><span>General settings</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="{% url 'merchant_profile' %}">Profile</a></li>
                <li><a class="nav-link" href="{% url 'coaching' %}">Coaching</a></li>
                <li><a class="nav-link" href="{% url 'add_branch' %}">Branch</a></li>
                  <li><a class="nav-link" href="{% url 'add_faculty' %}">Faculty</a></li>
                  <li><a class="nav-link" href="{% url 'add_batch' %}">Batch</a></li>
                  <li><a class="nav-link" href="{% url 'owner' %}">Owner</a></li>
                  <li><a class="nav-link" href="{% url 'payment_info' %}">Bank Details</a></li>
                  <li><a class="nav-link" href="{% url 'add_offer' %}">Offers</a></li>
                  <li><a class="nav-link" href="{% url 'add_discount' %}">Discounts</a></li>
                     </ul>
            </li>
            <li class="menu-header">Support</li>
              <li><a class="nav-link" href="{% url 'merchant_messages' %}"><i data-feather="mail"></i><span>Chat with us</span></a></li>


            <li class="menu-header">...</li>
            <li><a class="nav-link" href="{% url 'merchant_invoice' %}"><i data-feather="file"></i><span>Invoice</span></a></li>
            <li><a class="nav-link" href="{% url 'merchant_table' %}"><i data-feather="file-text"></i><span>Reports</span></a></li>


                  </aside>
      </div>
      <!-- Main Content -->
        <section class="section">
          <div class="container mt-5">
            <div class="row">
              <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="login-brand">
                 
                </div>
                <div class="card card-primary">
                  <div class="row m-0">
                    <div class="col-12 col-md-12 col-lg-12 p-0">
                      <div class="card-header text-center">
                        <h4>Bank Account Details</h4>
                      </div>
                      <div class="card-body">
                        <form method="POST" action="payment" enctype="multipart/form-data"> {% csrf_token %}
                          <div class="form-group floating-addon">
                            <label>Account Holder Name</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  
                                </div>
                              </div>
                              <input id="name" type="text" class="form-control" name="name" placeholder="Name" value="{{account.account_holder}}" required>
                            </div>
                          </div>
                          <div class="form-group floating-addon">
                            <label>Bank Name</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  
                                </div>
                              </div>
                              <input id="Description" type="text" class="form-control" name="bank_name" placeholder="Bank Name" value="{{account.bank_name}}" required>
                            </div>
                          </div>
                          <div class="form-group floating-addon">
                            <label>Account Number</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  
                                </div>
                              </div>
                              <input id="Description" type="text" class="form-control" name="number" placeholder="Account Number" value="{{account.account_no}}" required>
                            </div>
                          </div>
                          <div class="form-group floating-addon">
                            <label>IFSC Code</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  
                                </div>
                              </div>
                              <input id="Description" type="text" class="form-control" name="ifsc" placeholder="IFSC Code" value="{{account.ifsc_code}}" required>
                            </div>
                          </div>
                          <div class="form-group floating-addon">
                            <label>Mobile Number</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  
                                </div>
                              </div>
                              <input id="Description" type="text" class="form-control" name="mobile" placeholder="Mobile Number" value="{{account.mobile_no}}" required>
                            </div>
                          </div>
                          <div class="form-group floating-addon">
                            <label>Adhar Card</label>
                            {% if account %}
                            <a href="http://127.0.0.1:8000{{account.adhar_card.url}}">Click Here</a>
                              <input id="Description" type="file" class="form-control" name="adhar">
                              {% else %}
                              <input id="Description" type="file" class="form-control" name="adhar" required>
                              {% endif %}
                            </div>
                          <div class="form-group floating-addon">
                            <label>Pan Card</label>
                            {% if account %}
                            <a href="http://127.0.0.1:8000{{account.pan_card.url}}">Click Here</a>
                              <input id="Description" type="file" class="form-control" name="pan">
                              {% else %}
                              <input id="Description" type="file" class="form-control" name="pan" required>
                              {% endif %}
                            </div>
                          <center>
                            <button type="submit" class="btn btn-round btn-lg btn-primary">
                              Submit
                            </button></center>
                        </form>
                      </div>
                    </div>
                  </div>
                      
                </div>
                    
                
              </div>
                  
            </div>
          </div>
        </section>
        </div></div>
  <!-- General JS Scripts -->
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
</body>


<!-- checkbox-and-radio.html  21 Nov 2019 03:51:01 GMT -->
</html>
