{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <div class="login-brand">
             
            </div>
            <div class="card card-primary">
              <div class="row m-0">
                <div class="col-12 col-md-12 col-lg-12 p-0">
                  <div class="card-header text-center">
                    <h4>Profile</h4>
                  </div>
                  <div class="card-body">
                    
                    <form method="POST" action="profile"> {% csrf_token %}
                      <div class="form-group floating-addon">
                        <label>Username</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="name" type="text" class="form-control" name="username" autofocus placeholder="Username" value="{{merchant.username}}" readonly>
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>First Name</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="fname" placeholder="First Name" value="{{info.first_name}}" required>
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Last Name</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="lname" placeholder="Last Name" value="{{info.last_name}}" required>
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Email</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="email" placeholder="Email" value="{{info.email}}" readonly>
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Mobile</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="mobile" placeholder="Mobile" value="{{info.mobile}}" required>
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Organization</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <input id="Description" type="text" class="form-control" name="organization" placeholder="Organization" value="{{info.organization}}" required>
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Stream</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              
                            </div>
                          </div>
                          <select id="stream" name="stream" class="form-control" required>
                              {% if info.stream == "Science" %}
                              <option value="Science" selected>Science</option>
                              {% else %}
                              <option value="Science">Science</option>
                              {% endif %}
                              {% if info.stream == "Commerce" %}
                              <option value="Commerce" selected>Commerce</option>
                              {% else %}
                              <option value="Commerce">Commerce</option>
                              {% endif %}
                              {% if info.stream == "Arts" %}
                              <option value="Arts" selected>Arts</option>
                              {% else %}
                              <option value="Arts">Arts</option>
                              {% endif %}
                              {% if info.stream == "Music" %}
                              <option value="Music" selected>Music</option>
                              {% else %}
                              <option value="Music">Music</option>
                              {% endif %}
                              {% if info.stream == "Dance" %}
                              <option value="Dance" selected>Dance</option>
                              {% else %}
                              <option value="Dance">Dance</option>
                              {% endif %}
                              {% if info.stream == "Sports" %}
                              <option value="Sports" selected>Sports</option>
                              {% else %}
                              <option value="Sports">Sports</option>
                              {% endif %}
                              </select>
                        </div>
                      </div>
                      <center>
                        <button type="submit" class="btn btn-round btn-lg btn-primary">
                          Submit
                        </button></center>
                    </form>
                  </div>
                </div>
              </div>
                  
            </div>
                
            
          </div>
              
        </div>
      </div>
    </section>


  </div>
 {% endblock %}