{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
            <div class="login-brand">
             
            </div>
            <div class="card card-primary">
              <div class="row m-0">
                <div class="col-12 col-md-12 col-lg-12 p-0">
                  <div class="card-header text-center">
                    <h4>Review Details</h4>
                  </div>
                  <div class="card-body">
                    <form method="POST">
                      <div class="form-group floating-addon">
                        <label>Review</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="far fa-user"></i>
                            </div>
                          </div>
                          <input id="review" type="text" class="form-control" name="review" autofocus placeholder="Review">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Rating</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-envelope"></i>
                            </div>
                          </div>
                          <input id="rating" type="text" class="form-control" name="rating" placeholder="Rating">
                        </div>
                      </div>
                        <div class="form-group floating-addon">
                        <label>Coaching</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="far fa-user"></i>
                            </div>
                          </div>
                          <input id="text" type="text" class="form-control" name="coaching" placeholder="Coaching">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>User</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="far fa-user"></i>
                            </div>
                          </div>
                          <input id="text" type="text" class="form-control" name="user" placeholder="User">
                        </div>
                      </div>
                      <div class="form-group floating-addon">
                        <label>Batch</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="far fa-user"></i>
                            </div>
                          </div>
                          <input id="text" type="text" class="form-control" name="review_time" placeholder="Review Time">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                
                    </form>  
              </div>
                  
            </div>
                <div class="form-group text-center">
                        <button type="submit" class="btn btn-round btn-lg btn-primary">
                          Submit
                        </button>
                      </div>
            
          </div>
              
        </div>
      </div>
    </section>
  </div>
{% endblock %}