{% include 'user/header.html' %}
{% load static %}
{% block content %}

<div style="width:600px;margin:20px auto">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center sign-up__wrapper">
    <h1>Reset Password</h1>
    {% if validlink %}
    <form method="post">
      {% csrf_token %}

      <fieldset class="form-group">
        <label for="email">New Password</label>
        <input class="form-control" type="password" name="new_password1" placeholder="New Password" autocomplete="new-password"
          autofocus required>
      </fieldset>

      <fieldset class="form-group">
        <label for="email">Confirm Password</label>
        <input class="form-control" type="password" name="new_password2" placeholder="Confirm Password" autocomplete="new-password"
          autofocus required>
      </fieldset>

      <div class="form-group">
        <button class="btn btn-primary btn-block text-uppercase" type="submit">Reset Password</button>
      </div>
    </form>
    {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
{% include 'user/footer.html' %}