{% include 'user/header.html' %}
{% load static %}
{% block content %}
<div style="width:600px;margin:20px auto">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center sign-up__wrapper">

    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
    </p>
  </div>
</div>

{% endblock %}
{% include 'user/footer.html' %}