{% load static %}
<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale 1.0">
    <meta name="description" content="Merchant signup page">
    <meta name="author" content="Indranil and Moumita">

    <title>CareerManiaa</title>
    <link rel="stylesheet" href="{% static 'new-merchant/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'new-merchant/css/login.css' %}">
</head>

<body>
    <div class="main_body">
        <div class="container register">
            <div class="col-md-5 register-rightt">
                <div class="logo">
                    <a href="{% url 'merchant_view' %}"><img src="{% static 'new-merchant/asset/logo1.png' %}"></a><br>
                    <div class="cword"><span style="color:  #da0b4e;">Career</span>Maniaa </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="row register-form">
                        <div class="col-md-12">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="Name"> E-mail: </label><br>
                                    <input id="username" name="username" type="text" class="form-control"
                                        placeholder="Email" style="border-radius: 20px">
                                </div>
                                <div class="submit_button">
                                    <input type="submit" class="btn btn-primary" id="forgot_button" value="Submit" />
                                </div>
                                <div class="login_link">
                                    <p><a href="{% url 'merchant/login' %}"><small style="color: #da0b4e;">
                                                <-Back to login</small></a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>