<html>
<head>
<title>coaching name</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">

</head>
<body>

<center><h2>Add Coaching </h3>
</center>
<table align="center" cellpadding = "10">
 <form action="{% url 'add_coaching' user=merchant.username %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
<!--------------------- First Name ------------------------------------------>
<tr>
<td>Name of Coaching</td>
<td><input type="text" name="name" maxlength="50" placeholder="Name" />

</td>
</tr>
 

 


 <tr>
<td>Logo</td>
<td>
<input type="file" id="myFile" name="image">
</td>
</tr>
 



<tr>
<td>Description<br /><br /><br /></td>
<td><textarea name="description" rows="10" cols="50"></textarea></td>
</tr>

  

 

<!----------------------- Submit and Reset ------------------------------->
<tr>
<td colspan="2" align="center">
<input type="submit" value="Submit">
<input type="reset" value="Reset">
</form>
<a href="{% url 'index' %}"><button> SKIP</button> </center></a>
</td>
</tr>



</table>
 
</body>
</html>