{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>ADD JOB</h4>
                        </div>
                        <div class="card-body">

                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="number" name="recruiter" value="{{request.user.id}}" hidden required>
                                <div class="form-group">
                                    <label>Job Title</label>
                                    <input type="text" class="form-control" name="title" required>
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" rows="5" cols="50" name="description"
                                        required>

                                </div>
                                <div class="form-group">
                                    <label>Required Skills</label>
                                    <input type="text" class="form-control" name="skills" required>
                                </div>
                                <div class="form-group">
                                    <label>Posts Available</label>
                                    <input type="number" class="form-control" name="available_posts" required>
                                </div>


                                <div class="card-footer text-right">
                                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                                    <button class="btn btn-secondary" type="reset">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="main-footer">
    <div class="footer-left">
        CAREERMANIAA
    </div>
    <div class="footer-right">
    </div>
</footer>
</div>
</div>
{% endblock %}