{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}
<section class="section">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
        <div class="login-brand">

        </div>
        <div class="card card-primary">
          <div class="row m-0">
            <div class="col-12 col-md-12 col-lg-12 p-0">
              <div class="card-header text-center">
                <h4>Profile</h4>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group floating-addon">
                    <label>Username</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                        </div>
                      </div>
                      <input id="username" type="text" class="form-control" name="username" autofocus
                        placeholder="Username" value="{{request.user.username}}" disabled>
                    </div>
                  </div>
                  <div class="form-group floating-addon">
                    <label>E-mail</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                        </div>
                      </div>
                      <input id="email" type="email" class="form-control" name="email" autofocus placeholder="E-mail"
                        value="{{request.user.email}}" disabled>
                    </div>
                  </div>

                  <div class="form-group floating-addon">
                    <label>Company Name</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                        </div>
                      </div>
                      <input id="name" type="text" class="form-control" name="company_name" autofocus placeholder="Name"
                        value="{{user.company_name}}" required>
                    </div>
                  </div>
                  <div class="form-group floating-addon">
                    <label>Registration Number</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">

                        </div>
                      </div>
                      <input id="Description" type="text" class="form-control" name="reg"
                        placeholder="Registration Number" value="{{user.registration_no}}" required>
                    </div>
                  </div>
                  <div class="form-group floating-addon">
                    <label>Country</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">

                        </div>
                      </div>
                      <input id="Description" type="text" class="form-control" name="country" placeholder="Country"
                        value="{{user.country}}" required>
                    </div>
                  </div>
                  <div class="form-group floating-addon">
                    <label>State</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">

                        </div>
                      </div>
                      <input id="Description" type="text" class="form-control" name="state" placeholder="State"
                        value="{{user.state}}" required>
                    </div>
                  </div>
                  <div class="form-group floating-addon">
                    <label>City</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">

                        </div>
                      </div>
                      <input id="Description" type="text" class="form-control" name="city" placeholder="City"
                        value="{{user.city}}" required>
                    </div>
                  </div>
                  <div class="form-group floating-addon">
                    <label>Complete Address</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">

                        </div>
                      </div>
                      <input id="Description" type="text" class="form-control" name="address" placeholder="Address"
                        value="{{user.company_address}}" required>
                    </div>
                  </div>
                  <div class="form-group floating-addon">
                    <label>Director's Name</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">

                        </div>
                      </div>
                      <input id="Description" type="text" class="form-control" name="director"
                        placeholder="Director's Name" value="{{user.director_name}}" required>
                    </div>
                  </div>
                  <div class="form-group floating-addon">
                    <label>Phone Number</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">

                        </div>
                      </div>
                      <input id="Description" type="tel" class="form-control" name="phone" placeholder="Phone Number"
                        value="{{user.contact_no}}" required>
                    </div>
                  </div>
                  <center>
                    <button type="submit" class="btn btn-round btn-lg btn-primary">
                      Submit
                    </button>
                  </center>
                </form>
              </div>
            </div>
          </div>

        </div>


      </div>

    </div>
  </div>
</section>


</div>
{% endblock %}