{% include 'merchant/new_dashboard/header.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h4>ADD COURSE</h4>
                        </div>
                        <div class="card-body">

                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <input type="text" class="form-control" name="name" maxlength="100" required>
                                </div>
                                <div class="form-group">
                                    <label>Time Period</label>
                                    <input type="text" class="form-control" rows="5" cols="50" name="timePeriod"
                                        maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" name="description" maxlength="200" required>
                                </div>
                                <div class="form-group">
                                    <label>Fees (Approax)</label>
                                    <input type="number" class="form-control" name="fees" max="100000" required>
                                </div>

                                <div class="card-footer text-right">
                                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                                    <button class="btn btn-secondary" type="reset">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 50px;">
            <div class="card-header">
                <h4>COURSES: {{total}}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Time Period</th>
                                <th>Description</th>
                                <th>Fees</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            <tr>
                                <td>{{course.name}}</td>
                                <td>{{course.timePeriod}}</td>
                                <td>{{course.description}}</td>
                                <td>{{course.fees}}</td>
                                <td><a href="{% url 'delete/college/course' id=course.id %}"><button
                                            class="btn btn-lg btn-danger">Delete</button></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="main-footer">
    <div class="footer-left">
        CAREERMANIAA
    </div>
    <div class="footer-right">
    </div>
</footer>
</div>
</div>
{% endblock %}