{% include 'user/header.html' %}
{% load static %}
{% block content %}
<div style="margin-top:50px;background-color: white;padding:10px">
            <center><h3>Shopping Cart</h3></center>
            <h4>{{msg}}</h4>
        </div>
    <style>
        #t01 {
        width: 100%;
        background-color: #f1f1c1;
        }
        #t01 tr:nth-child(even) {
        background-color: #eee;
        }
        #t01 tr:nth-child(odd) {
        background-color: #fff;
        }
        #t01 th {
        color: white;
        background-color: black;
        }
    </style>
      <div class="main" style="background-color: white;">
        <section class="container">
        <table style="overflow: scroll;width:100%;" id="t01">
        <tr>
            <th style="padding: 10px;width:300px;">Course</th>
            <th style="padding: 10px;width:100px;">Price</th>
            <th style="padding: 10px;width:50px;">Remove</th>
            <th style="padding: 10px;width:50px;">Checkout</th>
        </tr>
        {% if loggedIn %}
        {% for course in courses %}
        <tr>
            <td style="padding: 10px;width:300px;"><a href="{% url 'product' id=course.course.id %}">{{course.course.name}}</a></td>
            <td style="padding: 10px;width:10px;">Rs. {{course.course.fees}}</td>
            <td style="padding: 10px;width:50px;"><a href="{% url 'del_item' id=course.id %}"><i class="fa fa-times" style="color: red;"></i></a></td>
            <td style="padding: 10px;width:10px;"><a href="{% url 'checkout' id=course.course.id %}"><button class="btn btn-info">Checkout</button></a></td>
        </tr>
        {% endfor %}
        {% else %}
        {% for course in courses %}
        <tr>
            <td style="padding: 10px;width:300px;"><a href="{% url 'product' id=course.id %}">{{course.name}}</a></td>
            <td style="padding: 10px;width:10px;">Rs. {{course.fees}}</td>
            <td style="padding: 10px;width:50px;"><a href="{% url 'del_item' id=course.id %}"><i class="fa fa-times" style="color: red;"></i></a></td>
            <td style="padding: 10px;width:10px;"><a href="{% url 'login_user' %}"><button class="btn btn-info">Checkout</button></a></td>

        </tr>
        {% endfor %}
        {% endif %}
        </table>
        </section>

{% endblock %}
{% include 'user/footer.html' %}