{% include 'user/header.html' %}
{% load static %}
{% block content %}
<!--hero-slider-->
<section class="home-section home-full-height bg-dark  parallax-bg -gradient" id="home">
         <div class="hero-slider">
          <ul class="slides">
            <li class="bg-dark-30 bg-gradient" style="background-image:url({% static 'user_assets/images/146875-OTNM5C-535.jpg' %});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">Find classrooms &amp; colleges </div>
                  <div class="font-alt mb-40 titan-title-size-4">Near you </div><a class="section-scroll btn btn-border-w btn-round" href="#about">APPLY-NOW</a>
                  </div>
                </div>
                 </li>
            <li class="bg-dark-30 bg-gradient" style="background-image: url({% static 'user_assets/images/2513975.jpg' %});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-2">GET upto 50% OFF <br/> ON YOUR FIRST BOOKING
                  </div><a class="btn btn-border-w btn-round" href="about">BOOK-NOW</a>
                </div>
              </div>
            </li>
            <li class="bg-dark-30 bg-gradient" style="background-image: url({% static 'user_assets/images/2522847.jpg' %});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div class="font-alt mb-30 titan-title-size-1">BOOK YOUR BEST COLLEGES AND CLASS-ROOMS</div>
                  <div class="font-alt mb-40 titan-title-size-3">NEAR YOU</div><a class="section-scroll btn btn-border-w btn-round" href="#about">FIND-NOW</a>
                </div>
              </div>
            </li>
            <li class="bg-dark-30 bg-gradient" style="background-image: url({% static 'user_assets/images/514343-PI8QLX-189.jpg' %});">
              <div class="titan-caption">
                <div class="caption-content">
                    <div class="font-alt mb-30 titan-title-size-1">"BE AN EXPERT"<br/>IN YOUR FIELD </div>
                  <div class="font-alt mb-40 titan-title-size-3">With SUCESS-FUll mentors</div><a class="section-scroll btn btn-border-w btn-round" href="#about">buy-now</a>
                  </div>
                </div>
         </ul>
        </div>
</section>
        <!-- hero-slider End -->       
    <!--<li> tags create the individual christmas lights. we're going to have 43 -->
 <ul class="strand">
   <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
 <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <h2 class="module-title font-alt">OFFER SECTION</h2>
   <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
 <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  </ul>
  <section class="module sliding-portfolio">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="owl-carousel text-center" data-items="4" data-pagination="false" data-navigation="false">
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static 'user_assets/images/owl-items/6711.jpg' %}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Corporate Identity</h3>
                          <div class="work-descr">Illustration</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static 'user_assets/images/owl-items/11140.jpg' %}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Bag MockUp</h3>
                          <div class="work-descr">Marketing</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static 'user_assets/images/owl-items/170.jpg' %}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Disk Cover</h3>
                          <div class="work-descr">Illustration</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static 'user_assets/images/owl-items/9394.jpg' %}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Corporate Identity</h3>
                          <div class="work-descr">Illustration</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static 'user_assets/images/owl-items/53384.jpg' %}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Bag MockUp</h3>
                          <div class="work-descr">Marketing</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static 'user_assets/images/owl-items/Job1-01.jpg' %}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Disk Cover</h3>
                          <div class="work-descr">Illustration</div>
                        </div></a></div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </section>
   <!-- News-section -->  
    <section class="news-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow fadeInDown animated ">
                        <h2 class="module-title font-alt">STREAMS</h2>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static 'user_assets/images/21350.jpg' %}" width="350" height="262" alt=""></a>
                            <h3><a class="btn btn-border-w btn-circle" href="">SCIENCE</a> </h3>
                    </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.4s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static 'user_assets/images/21339.jpg' %}" width="350" height="262" alt=""></a>
                            <h3><a class="btn btn-border-w btn-circle" href="">COMMERCE</a> </h3>
                      </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.6s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static 'user_assets/images/20700.jpg' %}" width="350" height="262" alt=""></a>
                            <h3><a class="btn btn-border-w btn-circle" href="">HUMANILITES</a></h3>
                            </div>
                        </div>
                     </div>
                </div>
      </section>
        
<!--main-showcase --> 
        <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-8 col-lg-9">
                <div class="callout-text font-alt">
                  <h4 style="margin-top: 0px; font-;"></h4>
                  <p style="margin-bottom: 0px;">LOOKING FOR YOU!</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module-medium" id="demos">
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_mp_fullscreen_video_background.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="Main Demo"></div>
                  <h3 class="content-box-title font-serif">Main Demo</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_agency.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="Agency"></div>
                  <h3 class="content-box-title font-serif">Agency</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_portfolio.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="Portfolio"></div>
                  <h3 class="content-box-title font-serif">Portfolio</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_restaurant.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="Restaurant"></div>
                  <h3 class="content-box-title font-serif">Restaurant</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_finance.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="Finance"></div>
                  <h3 class="content-box-title font-serif">Finance</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_landing.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="Landing"></div>
                  <h3 class="content-box-title font-serif">Landing</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_photography.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="Photography"></div>
                  <h3 class="content-box-title font-serif">Photography</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_shop.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="Shop"></div>
                  <h3 class="content-box-title font-serif">Shop</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_op_fullscreen_gradient_overlay.html">
                  <div class="content-box-image"><img src="{% static 'user_assets/images/harry-knight-mLavRTnVZM4-unsplash.jpg' %}" alt="One Page"></div>
                  <h3 class="content-box-title font-serif">One Page</h3></a></div>
            </div>
          </div>
            </section>
     <section class="news-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow fadeInDown animated ">
                        <h2 class="module-title font-alt">Our Solved Cases</h2>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static 'user_assets/images/3616.jpg' %}" width="350" height="262" alt=""></a>
                            <a href="#">APPLY NOW</a>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.4s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static 'user_assets/images/3616.jpg' %}" width="350" height="262" alt=""></a>
                           <a href="#">APPLY NOW</a>

                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.6s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static 'user_assets/images/3616.jpg' %}" width="350" height="262" alt=""></a>
                            <a href="#">APPLY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <!--figure-element---->
<section class="figure-elemet">
            <h2 class="module-title font-alt">up-coming cities</h2>
      <figure class="snip1566">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample14.jpg" alt="sq-sample14" />
  <figcaption><i class="ion-android-add"></i></figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1566 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="sq-sample17" />
  <figcaption><i class="ion-android-open"></i></figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample19.jpg" alt="sq-sample19" />
  <figcaption><i class="ion-android-star-outline"></i></figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />
  <figcaption><i class="ion-android-stopwatch"></i></figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />
  <figcaption><i class="ion-android-stopwatch"></i></figcaption>
  <a href="#"></a>
</figure>
 </section>
</div>
{% endblock %}
{% include 'user/footer.html' %}