<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  
    Document Title
    =============================================
    -->
  <title>CAREERMANIAA</title>
  <!--  
    Favicons
    =============================================
    -->
  <link rel="icon" type="image/png" sizes="192x192"
    href="{% static 'user_assets/images/favicons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'user_assets/images/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'user_assets/images/favicons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'user_assets/images/favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'user_assets/images/favicons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  <!--  
    Stylesheets
    =============================================
    
    -->
  <!-- Default stylesheets-->
  <link href="{% static 'user_assets/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="{% static 'user_assets/lib/animate.css/animate.css' %}" rel="stylesheet">
  <link href="{% static 'user_assets/lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="{% static 'user_assets/lib/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
  <link href="{% static 'user_assets/lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
  <link href="{% static 'user_assets/lib/flexslider/flexslider.css' %}" rel="stylesheet">
  <link href="{% static 'user_assets/lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'user_assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'user_assets/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'user_assets/lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="{% static 'user_assets/css/style.css' %}" rel="stylesheet">
  <link id="color-scheme" href="{% static 'user_assets/css/colors/default.css' %}" rel="stylesheet">
  <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="assets/lib/html5shiv.js"><\/script>')</script>
        <![endif]-->

</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <script>
      function showPosition() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " +
              "Longitude: " + position.coords.longitude + ")"
            var myform = document.getElementById("myform");
            document.getElementById("lat").value = position.coords.latitude;
            document.getElementById("lng").value = position.coords.longitude;
            myform.submit();
          });
        } else {
          alert("Sorry, your browser does not support HTML5 geolocation.");
        }
      }
    </script>
    <form action="products" method="POST" id="myform">{% csrf_token %}
      <input type="hidden" value="" name="lat" id="lat">
      <input type="hidden" value="" name="lng" id="lng">
    </form>
    <!--div class="page-loader">
        <div class="loader">Loading...</div>
        </div-->
    <!-- Navbar-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span>
            <span class="icon-bar"></span></button><a class="navbar-brand" href="#"><img src="{% static 'user_assets/images/logo.ico' %}" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-home" aria-hidden="true">home</i></a>
           <ul class="dropdown-menu">
                <li><a href="about"><i class="fa fa-address-card">ABOUT US</i></a></li>
                  </ul>
              </li>
      
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-university">Coaching classes</i></a>
              <ul class="dropdown-menu">
                <li><a href="science_coachings"><i class="pe-7s-science"> SCIENCE</i></a></li>
                  <li><a href="commerce_coachings"><i class="pe-7s-cash"> COMMERCE</i></a></li>
                  <li><a href="other_coachings"><i class="pe-7s-box2"> humanlities</i></a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-education"></i>COLLEGES</a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>SCIENCE-COLLEGES</a>
                  <ul class="dropdown-menu">
                     <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>ENGINEERING-COLLEGES</a>
                  <ul class="dropdown-menu">
                   <li><a herf="#">M.TECH</a></li>
                   <li><a herf="#">B.TECH</a></li>
                   <li><a herf="#">DIPLOMA</a></li>
                   <li><a herf="#">MORE</a></li>
                         </ul>
                      </li>
                    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>MEDICAL-COLLEGES</a>
                    <ul class="dropdown-menu">
                    <li><a herf="#">MBBS</a></li>
                    <li><a herf="#">BDS</a></li>
                    <li><a herf="#">DIPLOMA</a></li>
                    <li><a herf="#">NURSING</a></li>
                    <li><a herf="#">MORE</a></li>
                 </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>DEGREE-COLLEGES</a>
                    <ul class="dropdown-menu">
                    <li><a herf="#">PhD</a></li>
                    <li><a herf="#">M.Sc.</a></li>
                    <li><a herf="#">B.Sc.</a></li>
                    <li><a herf="#">BCA</a></li>
                    <li><a herf="#">MORE</a></li>
              </ul>
              </li>
              </ul>
              </li>
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">COMMERCE COLLEGE</a>
                  <ul class="dropdown-menu">
                   <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>MANAGEMENT-COLLEGES</a>
                   <ul class="dropdown-menu">
                   <li><a herf="#">MBA</a></li>
                   <li><a herf="#">BBA</a></li>
                   <li><a herf="#">PGDM</a></li>
                   <li><a herf="#">DIPLOMA</a></li>
                   <li><a herf="#">MORE</a></li>
                       </ul>
                      </li>
                   <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>DEGREE-COLLEGES</a>
                   <ul class="dropdown-menu">
                       <li><a herf="#">PhD</a></li>
                       <li><a herf="#">M.Com.</a></li>
                       <li><a herf="#">B.Com.</a></li>
                       <li><a herf="#">BBA</a></li>
                       <li><a herf="#">MORE</a></li>
                       </ul>
                      </li>
                    </ul>
                   </li>
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">ARTS/humanlities COLLEGES</a>
                  <ul class="dropdown-menu">
                   <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>LAW-COLLEGES</a>
                   <ul class="dropdown-menu">
                       <li><a herf="#">LLB</a></li>
                       <li><a herf="#">LLM</a></li>
                       <li><a herf="#">DIPLOAMA</a></li>
                       <li><a herf="#">MORE</a></li>
                       </ul>
                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>MASS-COMUNICATION-COLLEGES</a>
                      <ul class="dropdown-menu">
                      <li><a herf="#">M.J.</a></li>
                      <li><a herf="#">B.J.</a></li>
                      <li><a herf="#">B.J.M.C.</a></li>
                      <li><a herf="#">B.M.C.</a></li>
                      <li><a herf="#">B.M.M</a></li>
                      <li><a herf="#">B.M.M.M.C</a></li>
                      <li><a herf="#">DIPLOMA</a></li>
                      </ul>
                      </li>
                      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-plane"></i>DEGREE-COLLEGES</a>
                       <ul class="dropdown-menu">
                       <li><a herf="#">B.A</a></li>
                       <li><a herf="#">M.A</a></li>
                       <li><a herf="#">DIPLOMA</a></li>
                       <li><a herf="#">MORE</a></li>
                      </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
                </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-cogs">COURSES</i></a>
              <ul class="dropdown-menu">
              <li><a herf="#">DIPLOMA</a></li>
                  <li><a herf="#">CERTIFICATE</a></li>
              <li><a herf="#">LONG-TERM</a></li>
              </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-users">CLASS-ROOMS</i></a>
              <ul class="dropdown-menu">
                 <li><a href="#"><i class="pe-7s-science">SCIENCE</i></a></li>
                  <li><a href="#"><i class="pe-7s-cash"> COMMERCE</i></a></li>
                  <li><a href="#"><i class="pe-7s-box2"> humanlities</i></a></li>
              </ul>
             </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-paper-plane">JOBS</i></a>
              <ul class="dropdown-menu">
                  <li><a herf="#">PART-TIME</a></li>
                  <li><a herf="#">FULL-TIME</a></li>
              </ul>
             </li>
             <li class="dropdown"><a class="dropdown-toggle" onclick="showPosition()">NEAR BY</a></i></li>
             <li class="dropdown"><a class="dropdown-toggle" href="" ><i class="fa fa-search"></a></i></li>
      <li> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><span class="#"></span></a>
              <ul class="dropdown-menu">
                <li><a href="merchant_view">Merchant View</a></li> 
                      <li><a href="login_user">Login</a></li> 
              <li><a href="register_user">Sign Up</a></li>
              <li><a href="cart"><i class="fa fa-shopping-cart"></i></a></li>
              <li><a href="cart"><i class="fa fa-heart"></i></a></li>
             </ul>
              </li>
            </ul>
          </div>
           </div>
           </nav>
    <!--Navbar End -->
    <div class="main">
      <section class="module bg-dark-30" data-background="{% static 'user_assets/images/167598-OVI67H-67.jpg' %}">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h1 class="module-title font-alt mb-0">sign-up</h1>
            </div>
          </div>
        </div>
      </section>
      <!---sign up HTML--->
      <section class="container sign-up">
        <div class="row">
          <div
            class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 sign-up__background">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center sign-up__wrapper">
                <header class="sign-up__header">
                  <svg id="sign-up__logo" width="120px" height="120px" viewBox="0 0 120 120" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-144.000000, -81.000000)">
                        <g transform="translate(143.000000, 81.000000)">
                          <g transform="translate(1.000000, 0.000000)">
                            <path id="sign-up__logo__circle"
                              d="M87.5794617,6.70020519 C106.839908,16.6866076 120,36.8064517 120,60 C120,93.137085 93.137085,120 60,120 C26.862915,120 0,93.137085 0,60 C0,26.862915 26.862915,0 60,0 C60.0507157,0 60.1014166,6.29228956e-05 60.1521028,0.000188694877 L60.1521028,5.04900441 C60.1186772,5.04895117 60.0852446,5.04892133 60.051805,5.04892133 C29.6761437,5.04892133 5.05180496,29.6732601 5.05180496,60.0489213 C5.05180496,90.4245826 29.6761437,115.048921 60.051805,115.048921 C90.4274662,115.048921 115.051805,90.4245826 115.051805,60.0489213 C115.051805,38.7813657 102.980666,20.3331757 85.3160283,11.1819915 L87.5794617,6.70020519 Z"
                              fill="#F7F7F7"></path>
                            <path id="sign-up__logo__notch"
                              d="M83.3722284,4.90439647 C77.6658734,2.48716934 71.5078907,0.927819435 65.0600208,0.388087409 L64.6846019,5.41901478 C70.6409793,5.91711182 76.3275409,7.36440406 81.5925593,9.60916405 L83.3722284,4.90439647 Z"
                              fill="#F04444"></path>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                  <h2 class="sign-up__title text-uppercase animated fadeIn">Login</h2>
                </header>
                <div class="panel text-left animated fadeInUpSmall">
                  <form data-behavior="sign-up" action="login_user" method="POST">{% csrf_token %}
                    <fieldset class="form-group">
                      <label for="email">Email</label>
                      <input name="email" type="email" class="form-control" placeholder="Enter email address"
                        autocomplete="email" autofocus required>
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="password">Password</label>
                      <input name="password" type="password" class="form-control" placeholder="Enter password" required>
                    </fieldset>
                    <div style="color:red">{{error}}</div>

                    <div class="form-group">
                      <button class="btn btn-primary btn-block text-uppercase" type="submit">Log In</button>
                    </div>
		    <div style="color:blue;float:right;padding:10px"><a href="{% url 'password_reset' %}">Forgot
                        Password?</a></div>
                  </form>
                  <div class="sign-up__byline">
                    <span>connect with</span>
                    <ul class="list-unstyled list-inline pull-right">
                      <li><a href="{% url 'facebook_login' %}"><span class="fa fa-facebook-official"></span></a>
                      </li>
                      <li><a href="{% url 'google_login' %}"><span class="fa fa-google"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="panel text-left animated fadeInUpSmall delay--450">
                  <small class="text-uppercase">
                    Not Registered?
                    <a href="{% url 'register_user' %}" class="pull-right">Sign Up</a>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!---End sign up--->
      <div class="module-small bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="widget">
                <h5 class="widget-title font-alt">COLLEGES NEAR YOU</h5>
                <ul class="icon-list">
                  <li><a href="#">NOIDA</a></li>
                  <li><a href="#">GURUGRAM</a></li>
                  <li><a href="#">CHANDIGARH</a></li>
                  <li><a href="#">HARYANA</a></li>
                  <li><a href="#">DEHRADUN</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="widget">
                <h5 class="widget-title font-alt">CLASSES NEAR YOU</h5>
                <ul class="icon-list">
                  <li><a href="#">MUZAFFARPUR</a></li>
                  <li><a href="#">PATNA</a></li>
                  <li><a href="#">DELHI</a></li>
                  <li><a href="#">CHANDIGARH</a></li>
                  <li><a href="#">BIHAR</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="widget">
                <h5 class="widget-title font-alt">JOB NEAR YOU</h5>
                <ul class="icon-list">
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="widget">
                <h5 class="widget-title font-alt">AMAZING OFFERS</h5>
                <ul class="widget-posts">
                  <li class="clearfix">
                    <div class="widget-posts-image"><a href="#"><img src="{% static 'user_assets/images/2319296.jpg' %}"
                          alt="Post Thumbnail" /></a></div>
                    <div class="widget-posts-body">
                      <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="widget-posts-image"><a href="#"><img src="{% static 'user_assets/images/7445.jpg' %}"
                          alt="Post Thumbnail" /></a></div>
                    <div class="widget-posts-body">
                      <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="divider-d">
      <footer class="footer bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="copyright font-alt">&copy; 2019&nbsp;<a href="index.html">CAREERMANIAA</a>, All Rights Reserved
              </p>
            </div>
            <div class="col-sm-6">
              <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                    class="fa fa-youtube-play"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i
                    class="fa fa-snapchat-ghost"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </div>
  </main>





  <!--JavaScripts
    =============================================
    -->
  <script src="{% static 'user_assets/lib/jquery/dist/jquery.js' %}"></script>
  <script src="{% static 'user_assets/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'user_assets/lib/wow/dist/wow.js' %}"></script>
  <script src="{% static 'user_assets/lib/imagezoom/imagezoom.js' %}"></script>
  <script src="{% static 'user_assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
  <script src="{% static 'user_assets/lib/isotope/dist/isotope.pkgd.js' %}"></script>
  <script src="{% static 'user_assets/lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
  <script src="{% static 'user_assets/lib/flexslider/jquery.flexslider.js' %}"></script>
  <script src="{% static 'user_assets/lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
  <script src="{% static 'user_assets/lib/smoothscroll.js' %}"></script>
  <script src="{% static 'user_assets/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
  <script src="{% static 'user_assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
  <script src="{% static 'user_assets/js/plugins.js' %}"></script>
  <script src="{% static 'user_assets/js/main.js' %}"></script>
</body>

</html>
