{% include 'user/header.html' %}
{% load static %}
{% block content %}
<div class="main">
        <div class="container">
          <form class="d-flex" action="search" method="POST">{% csrf_token %}
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="keyword" value="{{keyword}}">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        <hr class="divider-w">
        <section class="module-small">
          <div class="container">
            <div class="row multi-columns-row">
              {% for course in courses %}
              <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="singles_items">
              <div class="education_block_grid style_2">
                <div class="education_block_thumb n-shadow">
                  <a href="course-detail.html"><img src="{{course.coaching.logo.url}}" class="img-fluid" alt=""></a>
                  <div class="cources_price">INR {{course.fees}}</div>
                </div>
                
                <div class="education_block_body">
                  <h4 class="bl-title"><a href="course-detail.html">{{course.name}}</a></h4>
                  <p>{{course.description}}</p>
                </div>
                
                <div class="cources_info_style3">
                  <ul>
                    <li><i class="ti-eye mr-2"></i>8682 Views</li>
                    <li><i class="ti-time mr-2"></i>6h 40min</li>
                    <li><i class="ti-star text-warning mr-2"></i>4.7 Reviews</li>
                  </ul>
                </div>
                
                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img"><a href="instructor-detail.html"><img src="{{course.coaching.logo.url}}" class="img-fluid" alt=""></a></div>
                    <h5><a href="instructor-detail.html">{{course.coaching.name}}</a></h5>
                  </div>
                  <div class="foot_lecture"><i class="ti-control-skip-forward mr-2"></i><a href=""><button class="btn btn-success">Book Now</button></a></div>
                </div>
                <center><a href="{% url 'add_to_cart' id=course.id %}"><button class="btn btn-warning" style="margin:5px">ADD TO CART</button></a></center>
              </div>	
            </div>
            </div>
        {% endfor %}
            </div>
          </div>
        </section>
      </div>
    </div>
{% endblock %}
{% include 'user/footer.html' %}